body{
	margin :0;
 	padding:0;
 	font-family: sans-serif;
  
  		background-position: left;
		background-size: cover;
		background-attachment: fixed;
	}
	.scroll-button
	{
		bottom: 30px;
		position: absolute;
		left: 50%
		transform:translateX(-50%);
		border: 2px solid #fff;
		padding: 20px 20px 20px ;
		border-radius: 30px;
	}
	.scroll-bar span
	{
		border:2px solid #fff;
		font-size: 10px;
		border-radius: 30px;

	}
	.scroll-bar
	{
		animation: mover 1s mover !alternate;
	}


@keyframes mover
{

	0%{transform: translateY(0);}
	100%{transform: translateY(10px);}
}
.aboutme
{
	padding-top: 50px;
	padding-bottom: 50px;

}
.profile-image 
{
	height :300px;
}
.skills-bar p
{
	margin-bottom: 4px;
	font-weight: 400;

}
.progress
{
	border-radius: 16px !important;
	margin-bottom: 10px;
}
.progress-bar
{
	border-radius: 16px;
	background: #293749 !important;

}
.timeline li  h4 
{
	font-weight: bold;
	padding:5px 0 5px 20px;
	font-size: :20px; 
}


